{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add item{% endblock title %}

{% block content %}

<br>
<div class="card">
  <h5 class="card-header">Add item</h5>
  <div class="card-body">
    <p class="card-text">
        <form action="{% url 'item-create' restaurant_obj.id %}" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Add!" class="btn btn-outline-success">
        </form>
    </p>
  </div>
</div>
{% endblock content %}
